<!DOCTYPE html>
<html ng-app="pageViews">
  <head>

    <meta charset="utf-8">
    <link rel="stylesheet" href="initial-view.css">
    <link rel="stylesheet" href="../../styles.css">
    <link rel="stylesheet" href="../../images">

    <title>Initial View</title>
  </head>
  <body ng-controller="initialViewCtrl">
    <div class="topText">
      <h2>INITIAL VIEW NO DATA</h2>
    </div>

    <header class="nav">
      <div class="search">
        <img src="../../images/Icons/Search.svg" alt="">
      </div>
      <div class="nav-text">DevMountain</div>
      <div class="ham">
        <img src="../../images/Icons/Ham.svg" alt="">
      </div>
    </header>
    <hr class="line"></hr>
    <div class="left">
      <p class="left-text">Welcome to <a class="dev-link" href="#">DevMountain</a> Social</br>Add Some Info So Friends Can Find You</p>
      <input class="full-name" type="text" name="" value="" placeholder="Full Name"></br></br>
      <input class="tagline" type="text" name="" value="" placeholder="Tagline"></br></br>
      <input class="profile-img" type="text" name="" value="" placeholder="Profile Image Url"></br></br>
      <input class="bio" type="text" name="" value="" placeholder="Bio"></br></br>
      <button class="save-changes" type="button" name="button">Save Changes</button>
    </div>
    <div class="right">
      <div class="back-image"></div>
      <img class="front-image" src="" alt="">
    </div>

    <div class="bottom">
      <div class="bottom-line"></div>
      <div class="bottom-links">
        <a class="view-friends" href="#">View Friends</a>
        <a class="find-friends" href="#">Find Friends</a>
        <a class="update-profile" href="#">Update Profile</a>
      </div>
    </div>



  </body>

  <script src="initial-view-ctrl.js"></script>

</html>
