

.topText {
  width: 100%;
  height: 3vh;
  text-align: center;
}

.nav {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.nav .search {
width: 33.4%;
display: flex;
flex-direction: row;
justify-content: flex-start;
margin-left: 49px;
}

.nav .ham {
  width: 33.3%;
  float: right;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 49px;
}

.nav .nav-text {
  width: 33.3%;
  font-family: 'Lora', serif;
  font-size: 16.8px;
  color: #272727;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.line {
  width: 95%;
  height: 1px;
  border: 0;
  border-top: 1px solid #EAEAEA;
  margin-bottom: 50px;
}

.left {
  float: left;
  width: 50%;
  height: 65vh;
}

.left .left-text {
  font-family: 'Lora', serif;
  font-size: 12.07px;
  color: #232323;
  margin-left: 50px;
  text-indent: 20px;
  letter-spacing: 1.1px;
}

.left .dev-link {
  color: #00FFE9
}

.full-name,
.tagline,
.profile-img,
.bio {
  width: 72%;
  font-family: 'Lora', serif;
  font-size: 15.96px;
  color: #B6B6B6;
  margin-left: 50px;
  border: 1px solid #EAEAEA;
}

textarea {
  resize: none;
}

.full-name,
.tagline,
.profile-img {
  height: 2.5vh;
}

.full-name {

}

.tagline {

}

.profile-img {

}

.bio {
  height: 20vh;
}

.save-changes {
  width: 74%;
  height: 3vh;
  font-family: 'Lora', serif;
  font-size: 13.44px;
  color: #9A9A9A;
  background-color: #00FFE9;
  border: none;
  margin-left: 50px;
}

button:hover {
  cursor: pointer;
}

.right {
float: right;
width: 50%;
height: 65vh;
}

.back-image {
  width: 327px;
  height: 327px;
-webkit-clip-path: polygon(100% 100%, 53% 0, 0 88%);
 background: url("../../images/back-image.jpg") no-repeat;
 background-size: cover;
 opacity: .2;
 z-index: 1;
}

.front-image {
  width: 327px;
  height: 337px;
  -webkit-clip-path: polygon(100% 5%, 0 24%, 59% 100%);
  background-color: #74FDF2;
  z-index: 2;
  position: relative;
  bottom: 184px;
  left: 4px;
}

.bottom {
  margin-top: 100px;
  width: 100%;
  height: 13vh;
  position: absolute;
  bottom: 11px;
}

.bottom-line{
  width: 83%;
  height: 2px;
  border: 0;
  border-top: 2px solid #D7D7D7;
  margin-left: 56px;
  margin-top: 25px;
}

.bottom-links {
  width: 100%;
  height: 3vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}

a:link {
  text-decoration: none;
}

.view-friends,
.find-friends,
.update-profile {
  font-family: 'Open Sans', sans-serif;
  font-size: 13.2px;
  color: #A9A9A9;
  margin-top: 30px;
}

.view-friends {

}

.find-friends {

}

.update-profile {

}
