
.main-content {
  width: 100%;
  display: flex;
}

.nav .left-icon{
  background: url("./images/Icons/Search.svg");
}

.left {
  width: 40%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right {
  width: 60%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center;
}

.left .left-text {
  font-family: 'Lora', serif;
  font-size: 12.07px;
  color: #232323;
  letter-spacing: 1.1px;
}

.left .dev-link {
  color: #00FFE9
}

.full-name,
.tagline,
.profile-img,
.bio {
  width: 375px;
  font-family: 'Lora', serif;
  font-size: 15.96px;
  color: #B6B6B6;
  border: 1px solid #EAEAEA;
}

.full-name,
.tagline,
.profile-img {
  height: 2.5vh;
}

/*.full-name {

}

.tagline {

}

.profile-img {

}*/

.bio {
  height: 20vh;
}

.save-changes {
  width: 375px;
  height: 3vh;
  font-family: 'Lora', serif;
  font-size: 13.44px;
  color: #9A9A9A;
  background-color: #00FFE9;
  border: none;
}

.images {
  width: 50%;
  height: 60vh;
}


.back-image {
  width: 327px;
  height: 327px;
-webkit-clip-path: polygon(100% 100%, 53% 0, 0 88%);
 background: url("../../images/back-image.jpg") no-repeat;
 background-size: cover;
 opacity: .2;
 z-index: 1;
}

.front-image {
  width: 327px;
  height: 337px;
  -webkit-clip-path: polygon(100% 5%, 0 24%, 59% 100%);
  background-color: #74FDF2;
  z-index: 2;
}
