    <img class="icon" ng-src="{{data.imgUrl}}" alt="">
    <section class="landing-content">
      <div class="left">
        <div class="name-text">
          <p><h1>{{data.name}}</h1></p>
        </div>
        <div class="tagline-text">
          <p>{{data.tagline}}</p>
        </div>
        <div class="bio-text">
          <p>{{data.bio}}</p>
        </div>

      </div>
      <div class="right">
        <div class="images">
          <img class="back-image"></img>
          <div class="front-image" ng-style="{'background-image': 'url({{data.imgUrl}})','background-size':'cover','background-position':'center', 'background-repeat':'no-repeat'}"></div>
        </div>
        </div>
      </section>
